Source: ros-indigo-freenect-launch
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/freenect_launch
Standards-Version: 3.9.2

Package: ros-indigo-freenect-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-freenect-camera, ros-indigo-image-proc, ros-indigo-nodelet, ros-indigo-rgbd-launch, ros-indigo-tf
Description: Launch files for freenect_camera to produce rectified, registered or disparity images. Also produce point clouds and registered point clouds. Based on the openni_launch package.
